/**
 * 1. BASE STYLES
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}



:root {
  /* Colors */
  --color-charoal: #264653;
  --color-green: #2a9d8f;
  --color-saffron: #e9c46a;
  --color-orange: #f4a261;
  --color-sienna: #e76f51;

  /* Utopia fluid type */
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  /* Utopia fluid space */
  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|s-3xl&g=s,l,xl,12 */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  --space-s-3xl: clamp(1.125rem, -1.0924rem + 11.087vw, 7.5rem);

  /* @link https://utopia.fyi/clamp/calculator?a=320,1240,104—241 */
  --fluid-104-241: clamp(6.5rem, 3.5217rem + 14.8913vw, 15.0625rem);
  /* @link https://utopia.fyi/clamp/calculator?a=320,1240,3.12—7.23 */
  --fluid-3\.12-7\.23: clamp(0.195rem, 0.1057rem + 0.4467vw, 0.4519rem);
  /* @link https://utopia.fyi/clamp/calculator?a=320,1240,128—151 */
  --fluid-128-151: clamp(8rem, 7.5rem + 2.5vw, 9.4375rem);
  /* @link https://utopia.fyi/clamp/calculator?a=320,1240,18—25 */
  --fluid-18-25: clamp(1.125rem, 0.9728rem + 0.7609vw, 1.5625rem);
  /* @link https://utopia.fyi/clamp/calculator?a=320,1240,40—64 */
  --fluid-40-64: clamp(2.5rem, 1.9783rem + 2.6087vw, 4rem);
}



body {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: var(--step-0);
  margin: 0;
}

section a[href^="https://"]::after {
  content: '';
  margin-inline-start: 0.5ch;
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  background-image: url("images/external-link.svg");
  background-size: cover;
  background-repeat: no-repeat;
}



/* ------------------------------------------------------------------------- */

/**
 * 2. COMPONENT CLASSES
 */

.btn {
  border: 1px solid #000;
  border-radius: 999em;
  display: flex;
  align-items: center;
  padding: 0.74em 2.22em;
  gap: var(--space-s);
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: var(--color-button);
  color: var(--color-text);

  &:hover {
    background-color: color-mix(in srgb, var(--color-button) 80%, #fff);
  }
}



#hero {
  text-align: center;
  min-height: 100vh;
  line-height: normal;
  display: grid;
  place-items: center;
  position: relative;

  > .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 250px);
    overflow: hidden;

    & * { position: absolute; }

    & .blur {
      backdrop-filter: blur(60px);
      width: 100%;
      height: 100%;
    }

    & .red {
      top: 36.14px;
      /* left: 86.32px; */
      right: 71vw;
    }

    & .orange {
      top: -133px;
      /* right: -67px; */
      left: 62vw;
    }

    & .yellow {
      top: 722px;
      /* right: 153.52px; */
      left: 53vw;
    }

    & .lower-left {
      top: 387.19px;
      /* left: -149.61px; */
      right: 67vw;
      width: 628px;
      height: 568px;
    }

    & .green {
      top: 0;
      left: 0;
    }

    & .blue {
      top: 348.81px;
      right: -30.37px;
    }
  }

  > .content {
    position: relative;
    z-index: 10;
  }

  & .greet {
    font-family: "Lilita One", sans-serif;
    font-size: var(--fluid-104-241);
    letter-spacing: calc(-1 * var(--fluid-3\.12-7\.23));
    margin-top: 0;
    color: var(--color-sienna);
  }

  & .intro {
    font-size: var(--step-3);
    font-weight: 300;
    margin-top: 0;
    text-wrap: balance;

    > strong { font-weight: 700; }
  }

  & .small {
    font-size: var(--step--1);
    margin-top: var(--fluid-128-151);
  }
}

#about {
  --wrapper-max-width: 860px;
  position: relative;
  margin-top: 5rem;
  padding-block: 187px;
  min-height: 90vh;
  display: grid;
  place-items: center;
  -webkit-mask: linear-gradient(to bottom, transparent, #000 15%, #000 85%, transparent);
          mask: linear-gradient(to bottom, transparent, #000 15%, #000 85%, transparent);

  & .card {
    display: flex;
    gap: var(--space-l);
    border: 1px solid #000;
    padding: var(--space-l) var(--space-s-l);
    background-color: #fff;

    > .image {
      flex-shrink: 0;
      margin-inline: auto;

      > img { border-radius: 48px; }
    }

    > .text {
      font-size: var(--fluid-18-25);

      > :first-child {
        margin-top: 0;
      }
    }

    @media (max-width: 552px) {
      flex-direction: column;
    }
  }
}

.tag {
  font-size: var(--step--2);
  border: 1px solid #000;
  border-radius: 999em;
  padding: 0.32em 1.12em;
  line-height: normal;
}

.project-card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;

  > .title > * {
    font-size: var(--step-2);
    font-weight: 400;
    margin-top: 0;
  }

  > .tags ul {
    gap: 10px;
    padding-left: 0;
    margin-block: 16px;
  }

  > .image {
    border: 1px solid #000;

    > img {
      width: 100%;
    }
  }
}

#projects {
  --wrapper-max-width: 1160px;

  & h2 {
    text-align: center;
    font-size: var(--step-4);
    margin-bottom: 80px;
  }

  & .project-grid {
    display: grid;
    gap: var(--space-2xl) var(--space-l);
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  }
}

#contact {
  --wrapper-max-width: 633px;
  margin-top: 68px;
  padding-block: 147px 95px;
  -webkit-mask: linear-gradient(to bottom, transparent, #000 15%);
          mask: linear-gradient(to bottom, transparent, #000 15%);

  & .card {
    text-align: center;
    padding: var(--fluid-40-64) var(--space-s-3xl);
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    background-color: #fff;

    > .title {
      font-size: var(--step-5);
      font-weight: 700;
      margin-top: 0;
    }

    > .description {
      line-height: 1.6;
      text-wrap: balance;
      margin-top: 0;
    }

    & .btn {
      &.email {
        --color-button: #f4a261;
        border: 4px solid var(--color-button);
        font-size: var(--step-1);
        text-decoration: none;
      }

      @media (max-width: 379px) {
        > svg {
          display: none;
        }
      }
    }
  }
}

footer {
  text-align: center;
  font-size: var(--step--1);
  padding: var(--space-l);
  background-color: var(--color-charoal);
  color: #fff;

  > .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    align-items: center;
  }

  & ul {
    padding-left: 0;
    margin-block: 0;
    --gutter: var(--space-l);
    --threshold: 17.18rem;
  }

  & .license {
    text-wrap: balance;
    margin-top: 0;
    font-weight: 700;
  }
}



/* ------------------------------------------------------------------------- */

/**
 * 3. UTILITY CLASSES
 */

.bg-wavy {
  background-color: #eee;
  background-image: url("images/12px-wavy.png");
}

.wrapper {
  box-sizing: content-box;
  max-inline-size: var(--wrapper-max-width, 60ch);
  margin-inline: auto;
  padding-inline: var(--space-s);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s, 1rem));
  /* justify-content: center; */
  align-items: center;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s, 1rem));

  > * {
    flex-grow: 1;
    flex-basis: calc((var(--threshold, 30rem) - 100%) * 999);
  }
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
