<%- include('partials/header.ejs') %>

<h1>New Post</h1>

<form method="post">
  <div>
    <label for="title-field">Title</label>
    <input type="text" name="title" id="title-field">
  </div>

  <div>
    <label for="slug-field">Permalink</label>
    <div>
      <span>/post/</span>
      <input type="text" name="slug" id="slug-field">
    </div>
  </div>

  <div>
    <label for="body-field">Body</label>
    <textarea name="body" id="body-field" cols="30" rows="10"></textarea>
  </div>

  <div>
    <button type="button">Save as draft</button>
    <button type="submit">Publish</button>
  </div>
</form>

<%- include('partials/footer.ejs') %>
