.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & label {
    font-size: var(--step-0);
    font-weight: 700;
  }

  & :where(input[type="text"], textarea) {
    border: 1px solid var(--color-blue-grey-400);
    border-radius: 6px;
    padding: var(--space-xs) var(--space-s);
  }

  & textarea {
    resize: vertical;
  }

  & .span-before-textbox {
    display: flex;
    align-items: center;

    > :first-child {
      padding-inline: var(--space-2xs);
      flex-shrink: 0;
    }

    > :last-child {
      width: 100%;
    }
  }
}
