footer {
  --wrapper-max-width: 1160px;
  margin-top: auto;

  & .wrapper {
    margin-top: 200px;
    background-color: var(--color-blue-grey-800);
    color: #fff;
    padding-block: var(--space-l);
    font-size: var(--step--1);
  }

  & p {
    margin-top: 0;
  }
}
