<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Web App</title>
  <meta name="description" content="Blog web app using Node.js, Express, and EJS">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('icons.ejs') %>

  <header>
    <div class="wrapper center">
      <div class="logo">
        <a href="/">Blog Web App</a>
      </div>

      <button class="btn btn-sm btn-primary">
        <svg class="icon"><use href="#icon-plus" /></svg>
        New post
      </button>
    </div>
  </header>
