<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekend Warrior</title>
</head>
<body>
  <h1>
    Hey! It's <%= week.type %>, it's time to <%= week.advice %>!
  </h1>
</body>
</html>
