@import 'reset.css';
@import 'fonts.css';
@import 'root.css';

body {
  margin: 0;
  font-family: "Source Serif 4", Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-weight: normal;
  font-size: var(--step-0);
  background-color: var(--color-blue-grey-200);
  color: var(--color-blue-grey-800);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  --wrapper-max-width: 1160px;
}

h1 {
  font-size: var(--step-5);
  font-weight: 700;
  letter-spacing: -2.4416px;
}
