* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Libre Baskerville", serif;

  /* Vertically center meme container */
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 3rem;
}

.container {
  width: min(100%, 800px);
  margin-inline: auto;

  > * {
    text-align: center;
  }

  & img {
    width: 100%;
    border: 5px solid #fff;
  }
}
